* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

html, body {
    font-family: 'Proxima Nova';
    color: #353a3a;
    font-size: 16px;
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 570px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.relative {
    position: relative;
}

/* ----------------- image on main page with text ------------------- */
.img-container {
    background-color: rgb(249, 233, 227);
    min-height: 686px;
}

.img-container h1 {
    text-align: center;
    color: #353a3a;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    top: 180px;
    font-weight: bold;
    font-size: 72px;
}

.img-container h1>span:nth-child(1) {
    color: #ff5014;
}

.img-container h1>span:nth-child(2) {
    color: #ffb74d;
}

.img-container h1>span:nth-child(3) {
    color: #00bc8e;
}

/* ------------------ headings ------------------ */

.headings {
    line-height: 1.5;
}

.headings h2:first-child:after {
    margin-bottom: 20px;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

h4 {
    font-weight: bolder;
    font-size: 20px;
    font-style: normal;
}

h5 {
    font-size: 18px;
}

h2:first-child:after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #ffb74d;
    margin-bottom: 10px;
}

/* ------------------- links ----------------- */

a {
    color: #00bc8e;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 500;
}

a:focus, a:hover {
    color: #005325;
    text-decoration: underline;
    border-bottom: 1px solid #005325;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

/* -----------------------  images  -------------------------*/

.logo {
    position: absolute;
    width: 120px;
    z-index: 9;
}

.pipes {
    position: absolute;
    opacity: .7;
    left: 0;
    right: 0;
}

.pipe1 {
    position: static;
    width: 320px;
    z-index: 1;
    padding-top: 80px;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.pipe2 {
    background-image: url(../img/pipe2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    content: '';
    display: inline-block;
    width: 79%;
    height: 15px;
    top: 620px;
    left: 218px;
    z-index: -1;
    position: absolute;
    float: none;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.pipe3 {
    position: static;
    float: right;
    width: 249px;
    z-index: 1;
    padding-top: 80px;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

/* ----------------------------------- header ------------------------------------------ */
/* --------------- menu --------------- */

.menu {
    width: 100%;
    padding-top: 40px;
    background-color: #ffffff;
    border-bottom: 2px solid #ffb74d;
    float: left;
    list-style-type: none;
    padding-left: 140px;
}

.menu>li {
    float: left;
    list-style-type: none;
    padding-left: 22px;
    margin-bottom: 15px;
}

.menu>li>a {
    color: #353a3a;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
}

.menu>li>a>i {
    font-size: 20px;
}

.menu>li>a:hover, .menu>li>a:active, .menu>li>a:focus {
    color: #ff5014;
    text-decoration: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    border-bottom: 2px solid #ff5014;
    padding-bottom: 17px;
}

.cont-pad {
    margin-top: 100px;
}

.buttons {
    position: relative;
    top: 80px;
    padding-bottom: 100px;
}

.txt-main {
    padding-top: 200px;
    text-align: center;
}

.txt-main>p {
    padding-top: 80px;
    font-size: 22px;
    line-height: 1.6;
    padding-left: 15%;
    padding-right: 5%;
}

@media screen and (max-width: 991px) {
    .txt-main>p {
        padding-left: 27%;
        padding-right: 24%;
    }
}


.menu-header {
    position: fixed;
    width: 100%;
    z-index: 100;
}


.container a:hover, .container a:focus {
    border: none;
}

.scale-icon {
    position: absolute;
    right: 8%;
    top: 30px;
    color: #cbd2d2;
    font-size: 24px;
}

@media screen and (max-width: 991px) {
    .scale-icon {
        right: 5%;
    }
}

.scale-icon:after {
    content: '0';
    border-radius: 100px;
    background-color: #cbd2d2;
    padding-left: 4px;
    padding-right: 4px;
    color: #fff;
    font-size: 14px;
    margin-left: 2px;
}

/* --------------------------- buttons ---------------------------- */

.button {
    position: relative;
    float: left;
    margin-right: 15px;
    padding: 0px 40px;
    top: 20%;
    background-color: #ff7043;
    text-align: center;
    border: none;
    box-shadow: 0px 10px 30px #949493;
    overflow: hidden;
}

.button a{
    display: block;
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
}

.button2 {
    position: relative;
    float: left;
    margin-right: 15px;
    top: 20%;
    padding: 0px 40px;
    background-color: #00bc8e;
    text-align: center;
    border: none;
    box-shadow: 0px 10px 30px #949493;
    overflow: hidden;
}

.button2 a{
    display: block;
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
}



.button3 {
    position: relative;
    float: left;
    top: 20%;
    padding: 0px 40px;
    background-color: #ffb74d;
    text-align: center;
    border: none;
    box-shadow: 0px 10px 30px #949493;
    overflow: hidden;
}

.button3 a{
    display: block;
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
}


.eff{
    width: 100%;
    height: 100%;
    left: -100%;
    background: #ff5014;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
}

.button2 .eff{
    width: 100%;
    height: 100%;
    left: -100%;
    background: #048e6c;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
}

.button3 .eff{
    width: 100%;
    height: 100%;
    left: -100%;
    background: #cd7d08;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
}

.button:hover .eff{
    left: 0;
}

.button2:hover .eff{
    left: 0;
}

.button3:hover .eff{
    left: 0;
}

.button:active {
    box-shadow: 0px 0px 10px #949493;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.button2:active {
    box-shadow: 0px 0px 10px #949493;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.button3:active {
    box-shadow: 0px 0px 10px #949493;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

/* -----------------  form    --------------  */

#expert {
    font-family: "Proxima Nova";
    font-size: 16px;
    width: 350px;
    border: 2px solid #ffb74d;
    padding: 50px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-left: -10px;
    font-weight: normal;
    font-size: 16px;
}

input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: -webkit-calc(4em);
    height: calc(4em);
    margin: 0 0 1em;
    padding: 1em;
    border: 0px;
    border-bottom: 2px solid #cccccc;
    background: #fff;
    resize: none;
    outline: none;
}
input[type="text"][required]:focus {
    border-color: #00bc8e;
}
input[type="text"][required]:focus + label[placeholder]::before {
    color: #00bc8e;
}
input[type="text"][required]:focus + label[placeholder]::before, input[type="text"][required]:valid + label[placeholder]::before {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: -webkit-calc(-3em - 2px);
    margin-top: calc(-3em - 2px);
    margin-bottom: -webkit-calc((3em - 1em) + 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]::before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 -webkit-calc(1em + 2px);
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-background-size: 100% 5px;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="submit"] {
    padding: 20px 40px;
    background-color: #ff7043;
    margin-top: 40px;
    text-align: center;
    border: none;
    box-shadow: 0px 10px 30px #949493;
    overflow: hidden;
    color: #fff;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:active {
    box-shadow: 0px 0px 10px #949493;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

/*-------form-inline-----------*/
.form-inline input[type="submit"] {
    background-color: #ffb74d;
    margin-left: 15px;
    padding-bottom: 16px;
}

.form-inline input[type="text"] {
    border: 1px solid #ffb74d;
    border-radius: 0px;
    margin-top: 9px;
}

/* -------------------------------      tabs      --------------------------------------- */

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff5f2;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ffc1ae;
}

.nav-tabs {
    border-bottom: none;
    font-size: 16px;
    font-weight: 500;
    color: #353a3a;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0;
    color: #504643;
    font-size: 18px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #ff7043;
    border: none;
    border-bottom-color: transparent;
    border-radius: 0px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff5f2;
    text-decoration: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.nav-tabs>li>a:hover {
    border: none;
    border-radius: 0px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}
.table-striped>tbody>tr {
    display: none;
}

.table-striped>tbody>tr:nth-child(-n+10) {
    display: table-row;
}

.table-striped.more>tbody>tr {
    display: table-row;
}

span.js-table-more {
    float: right;
    color: #00bc8e;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
}

span.js-table-more:focus, span.js-table-more:hover {
    color: #005325;
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

i.fa-plus {
    color: #00bc8e;
}

i.fa-minus {
    color: #ff5014;
}

/* --------------------- blocks on main page ------------------------- */
.block-inf object {
    width: 75px;
}

.block-inf .button2 {
    float: right;
    margin-top: 30px;
}

.program {
    text-align: center;
    border: 2px solid #ffb74d;
    padding: 5px 30px 10px 30px;
    min-height: 200px;
    color: #353a3a;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 1200px) {
    .program {
        min-height: 225px;
    }
}

@media screen and (max-width: 991px) {
    .third-program-sm {
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .programs a>span {
        margin-top: 90px;
    }
}

.programs a:hover{
    text-decoration: none;
    color: #353a3a;
}

@keyframes bottomright {
    0% {
        width: 0;
        height: 0;
        padding-top: 0;
        visibility: visible;
    }
    25% {
        width: 100%;
        height: 0;
        padding-top: 0;
        visibility: visible;
    }
    50% {
        height: 100%;
        width: 100%;
        visibility: visible;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@keyframes revbottomright {
    0% {
        width: 100%;
        height: 100%;
        visibility: visible;
    }
    25% {
        width: 100%;
        height: 100%;
        visibility: visible;
    }
    50% {
        width: 100%;
        height: 100%;
        visibility: visible;
    }
    75% {
        width: 100%;
        height: 0;
        padding-top: 0;
        visibility: visible;
    }
    100% {
        width: 0;
        height: 0;
        padding-top: 0;
        visibility: hidden;
    }
}

@keyframes topleft {
    0% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    25% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    50% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    75% {
        width: 100%;
        height: 0;
        padding-bottom: 0;
        visibility: visible;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes revtopleft {
    0% {
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
    }
    25% {
        width: 100%;
        height: 0;
        padding-bottom: 0;
        visibility: visible;
    }
    50% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    75% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    100% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
}

.program:after {
    content: "";
    position: absolute;
    bottom: 0px;
    padding-right: 5px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ffb74d;
    border-right: 2px solid #ffb74d;
    visibility: hidden;
}

.program:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    width: 100%;
    height: 100%;
    border-top: 2px solid #ffb74d;
    border-left: 2px solid #ffb74d;
    visibility: hidden;
}

.program:hover:before {
    animation: topleft 0.9s ease-in-out forwards;
}

.program:hover:after {
    animation: bottomright 0.9s ease-in-out forwards;
}

.program.active:before {
    animation: revtopleft 0.9s ease-in-out forwards;
}

.program.active:after {
    animation: revbottomright 0.9s ease-in-out forwards;
}

.program.active:before,
.program.active:after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.program.temp:before, .program.temp:after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

.program:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    border: transparent;
}


.programs a>span {
    float: right;
    padding-top: 30px;
    margin-right: 15px;
}

.programs a>span:hover {
    text-decoration: underline;
    color: #005325;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.programs-green {
    border: 2px solid green;
}

.programs-green a>span:hover {
    border-bottom: 1px solid #005325;
}

/*  ------------- slider ----------------   */
.slider {
    min-height: 300px;
}

.slider .slick-list {
    min-height: 300px;
}

.slider .slide > div {
    min-height: 300px;
    display: inline-block;
}

.slider .slide > div:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
}

.scale-building {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 5px 15px #cececa;
    padding: 15px;
    margin-top: 5px;
}

.scale-building > a{
    line-height: 43px;
}

.vul {
    font-size: 20px;
    font-weight: bolder;
}

.grn {
    font-size: 36px;
    color: #00bd8d;
}
.grn-f {
    font-size: 36px;
    color: #e95225;
}

.class-enrg{
    width: 230px;
    position: static;
    padding-bottom: 5px;
}

.icons {
    position: absolute;
    list-style-type: none;
    top: 20px;
    right: 20px;
}

.icons li {
    height: 35px;
    display: block;
    margin-top: 18px;
}

.icons li:last-child {
    margin-bottom: 0;
}

.icons li > object {
    height: 35px;
}

.icon {
    position: absolute;
    left: 35%;
    top: 110px;
    width: 58px;
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
}

.slick-prev.prev,
.slick-next.next {
    background-color: #dadada;
    width: 40px;
    height: 25px;
    z-index: 10;
}

.slick-prev.prev object,
.slick-next.next object {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    cursor: pointer;
}
.slick-prev::before {
    content: url("../img/prev.png");
    display: block;
    margin-left: -50px;
}
.slick-next::before {
    content: url("../img/next.png");
    margin-right: -50px;
}

.compare-btn {
    margin-top: 40px;
    left: 37%;
}

/* ----------- counter main page ------------- */
.row-counter {
    background-color: #f9e9e3;
    min-height: 265px;
}

.counter {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: #ff7449;
    text-align: center;
    margin-top: 40px;
    white-space: nowrap;
}

.counter i {
    margin-left: 5px;
}

.counter:before {
    content: url("../img/valve-half.png");
    display: block;
    height: 45px;
}

.row-counter p {
    text-align: center;
}

/* --------------- graphic main page -------------------- */

.graphic-cont h3{
    margin-top: -20px;
    margin-bottom: 70px;
}

.graphic-cont img {
    max-width: 100%;
}

/* ---------- materials on main page ------------ */
.material {
    border-color: #00bd8d;
    padding-top: 10px;
}

@media screen and (max-width: 1200px) {
    .material {
        min-height: 235px;
    }
}

.material:before {
    border-color: #00bd8d;
}

.material:after {
    border-color: #00bd8d;
}

/* ---------- partners main page ---------------- */
.partners h3 {
    margin-top: -20px;
    margin-bottom: 70px;
}

.partners {
    height: 200px;
    line-height: 200px;
}

.partners img {
    vertical-align: middle;
}

/* ---------------- footer ----------------- */
.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
    background: #f9e9e3;
    border-top: 2px solid #ffb74d;
    width: 100%;
    /*height: 380px;*/
    z-index: 10;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h3 {
    left: 50px;
    font-size: 30px;
}

.footer h3>span:nth-child(1) {
    color: #ff5014;
}

.footer h3>span:nth-child(2) {
    color: #ffb74d;
}

.footer h3>span:nth-child(3) {
    color: #00bc8e;
}

.footer object {
    height: 90px;
    top: -32px;
}

.foot {
    margin-left: 30px;
    top: -15px;
}

.foot a:hover{
    text-decoration: underline;
}

.foot p {
    font-size: 12px;
    margin-top: 60px;

}

.menu-footer {
    list-style-type: none;
    line-height: 1.9;
    margin-top: 30px;
}

.prog {
    margin-top: 65px;
}

.prog a {
     font-size: 18px;
     color: #353a3a;
}

.prog a:hover {
    color: #00bd8d;
    text-decoration: underline;
}

.prog p {
    margin-top: 137px;
    font-size: 14px;
}

.prog > p > a {
     color: #00bd8d;
     font-size: 16px;
}

.prog > p > a:hover {
    color: #005325;
}